Chess.sdf
Chess/Debug/Chess.tlog/CL.read.1.tlog
Chess/Debug/Chess.tlog/CL.write.1.tlog
Chess/Debug/Chess.tlog/Chess.lastbuildstate
Chess/Debug/Chess.tlog/Chess.read.1u.tlog
Chess/Debug/Chess.tlog/Chess.winmd.lastbuild
Chess/Debug/Chess.tlog/Chess.write.1u.tlog
Chess/Debug/Chess.tlog/cl.command.1.tlog
Chess/Debug/Chess.tlog/link.command.1.tlog
Chess/Debug/Chess.tlog/link.read.1.tlog
Chess/Debug/Chess.tlog/link.write.1.tlog
Chess/Debug/MultipleQualifiersPerDimensionFound.txt
Chess/Debug/ProjectArchitectures.txt
Chess/Debug/XamlSaveStateFile.xml
Chess/Debug/layout.resfiles
Chess/Debug/layout.resfiles.intermediate
Chess/Debug/pri.resfiles
Chess/Debug/pri.resfiles.intermediate
Chess/Debug/priconfig.xml
Chess/Debug/priconfig.xml.intermediate
Chess/Debug/qualifiers.txt
Chess/Debug/qualifiers.txt.intermediate
Chess/Debug/resources.resfiles
Chess/Debug/resources.resfiles.intermediate
Chess/Debug/vc120.idb
ipch/chess-aa87b6ff/chess-80078de2.ipch
